body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 90px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

#score {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 75px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
  margin-left: 105px;
}

.game-board {
  display: inline-block;
}

.game-info {
  margin-left: 20px;
}

#score{
  font-size: 24px;
  color: #FFFFFF;
  background: #000000;
}