
.score {
    text-align: center;
    color: #B030B0;
}

.score-text {
    text-align: center;
    line-height: 2rem;
    color: #B030B0;
    font-weight: bold;
    font-size: 1.2rem;
}

ol {
    position: relative;
    right: 30px;
}

table {
    font-size: 1rem;
    display: table;
    width: 400px;
    color: #FFFFFF;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: #FFFFFF;
    margin-bottom: 50px;
    padding: 10px 30px;
}

th {
    border: 1px solid #FFFFFF;
    background-color: #602080;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: italic;
    padding: 10px 30px;
}

td {
    background-color: #202040;
    border: 1px solid #FFFFFF;
    text-align: center;
    padding: 10px 30px;
    width: 400px;
}

#back-button {
    position: relative;
    left: 40px;
    top: -30px;
}