.score {
    text-align: center;
    color: #B030B0;
}

.score-text {
    text-align: center;
    line-height: 2rem;
    color: #B030B0;
    font-style: italic;
}

ol {
    position: relative;
    right: 30px;
}