/*
dark blue - #202040
lighter dark blue - #202060
pink - #B030B0
purple - #602080
grey - 

*/


html {
  background-color: #202040;
  background-image: url(bg.png);
  background-repeat: repeat; 
  background-size: 80rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  
}

.header {
  margin: 3rem 0 3rem 0;
  width: 100%;
  text-align: center;
  color: #B030B0;
  filter: drop-shadow(3px 3px 0px #602080);
  line-height: 5rem;
  font-size: 5rem;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.home-text {
  text-align: center;
  line-height: 2rem;
  color: #B030B0;
  font-style: italic;
  margin: 2rem;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.button-flex-container {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pink-button {
  filter: drop-shadow(4px 4px 0px #602080);
  text-align: center;
  cursor: pointer;
  margin-top: 2rem;
  width: 20rem;
  height: 5rem;
  background-color: #B030B0;
  border: none;
  color: white;
  font-size: 1em;
}

.pink-button:active {
  transition-duration: .2s;
  -ms-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
  filter: drop-shadow(0px 0px 0px #602080);
}

.text-input {
  filter: drop-shadow(4px 4px 0px #602080);
  padding-left: .5rem;
  margin-top: 2rem;
  width: 20rem;
  height: 2.5rem;
  border: none;
  color: #202040;
  font-size: 1em;
}

.game-container{
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-game {
  filter: drop-shadow(4px 4px 0px #602080);
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-top: 2rem;
  width: 8rem;
  height: 2rem;
  background-color: #B030B0;
  border: none;
  color: white;
  font-size: .9em;
}

.loading {
  text-align: center;
  color: white;
}
